/** Resizable Declarations **/
* {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.contentWindow{
  position: absolute;
}

.resizer{
  position: absolute;
  z-index: 100;
  background-color: #4E6160;
}

.verticalResizer{
  cursor: ns-resize;
}

.horizontalResizer{
  cursor: ew-resize;
}

/** Icon Styles **/
.svg-icon {
  display:inline-block;
  height: 20px;
  width: 20px;
  background-color: white;

  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  position: relative;
  top: 2px;
}
.svg-icon.icon-arrow-repeat {
  mask-image: url("../bootstrap-icons-1.8.3/arrow-repeat.svg");
}
.svg-icon.icon-trash-fill {
  mask-image: url("../bootstrap-icons-1.8.3/trash3-fill.svg");
}
.svg-icon.icon-home {
  mask-image: url("../bootstrap-icons-1.8.3/house.svg");
}
.svg-icon.icon-clipboard {
  mask-image: url("../bootstrap-icons-1.8.3/clipboard.svg");
}

/** General Style **/
#main h1 {
  display: block;
  float: left;
  padding: 5px;
}

#header .btn div {
  margin-right: 5px;
}

#header_buttons {
  margin-left: 100px;
}
#header_buttons .btn {
  margin: 10px;
  color: white;
}

#win_top {
  display: flex;
  flex-flow: column;
}

#dataset_list {
  flex: 1;
  overflow: auto;
}
#entry_list {
  height: 100%;
}

#overview_panel {
  height: 100%;
  overflow: scroll;
}
#dataset_info, #dataset_config, #dataset_plots {
  padding: 5px;
  margin-bottom: 20px;
}
#dataset_info table {
  margin-left: 20px;
}
#dataset_info table tr td {
  padding: 2px;
}
#dataset_info table tr td:first-child {
  font-weight: bold;
  padding-right: 20px;
}
#dataset_config div {
  margin-left: 20px;
}
#dataset_config code {
  white-space: pre-wrap;
}
#dataset_plots ul li:hover {
  cursor: pointer;
  background-color: #ddd;
}

/** Table Styling **/
.filter_table table {
  height: 100%;
  overflow: scroll;
}

.filter_table thead th {
  position: sticky;
  top: 0;
}

.filter_table tr.note {
  font-style: italic;
}
.filter_table tr.entry {
  cursor: pointer;
}

#dataset_list tr.selected {
  background-color: #88c9ef;
}

#entry_list tr.selected {
  background-color: #4bf2a1;
}

table thead input {
  width: 95%;
}

/** Plot Styling **/
#tct_plot {
  height: 100%;
}

#plot_view {
  height: 100%;
}
